@use './fonts.scss';

:root {
    --fg-color: black;
    --bg-color: white;

    --primary-color: #e6cdc1;
    --secondary-color: #fbe5e0;
    --special-color: #983e3e;

    --font-family: sans-serif, Arial, Helvetica;
    --font-family-special: 'Vollkorn', serif;
    --font-color: rgb(62, 62, 62);



}

body {

    font-family: var(--font-family);
    font-size: 18px;
}